.content {
    margin-top: 70px;
}

.column {
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin: 5px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

/* Clear floats after the columns */
.columns:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.sensorInfo {
    width: 100%;
    margin: 10px;
    font-size: 1.2rem;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sensorInfo .sensorTitle {
    color: dodgerblue;
    text-decoration: none;
    font-size: 1.2rem;
}

.about {
    margin: 100px;
}

.aboutHeader {
    color: dodgerblue;
    text-decoration: none;
    font-size: 3.2rem;

}

.aboutInfo {
    color: black;
    font-size: 1.6rem;
}
