.navbar {
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #333;
    color: lightgrey;
    border-bottom: 3px solid #0e97ba;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 14px 116px;
    text-decoration: none;
    font-size: 22px;
}

.navbar .navButton {
    margin-left: 80px;
    font-size: 30px;
    cursor: pointer;
}

.titleText {
    color: white;
    margin-left: 15px;
    border-bottom: 3px solid #0e97ba;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}