.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 71px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: lightgrey;
    display: block;
}

.sidenav a:hover:not(.closebtn) {
    background-color: #ddd;
    color: black;
    border-bottom: 1px solid #008CBA;
}

.sidenav a:hover:not(.active .closebtn) {
    background-color: #ddd;
}

.sidenav a.active {
    color: white;
    background-color: #008CBA;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2;
    cursor: pointer;
}

.main {
    margin-left: 240px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    background-color: white;
    transition: 0.5s;
}

.content {
    padding: 60px 10px;
    font-size: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidenav .in1 {
    text-indent: 30px;
}