@import url("./components/navbar.css");
@import url("./components/content.css");
@import url("./components/scrollButton.css");
@import url("./components/darkTheme.css");

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Lato', serif;
    transition: 0.5s;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    transition: 0.5s;
    font-size: 12px;
    padding: 1rem;
}